<h3>New Schedule</h3>
<section class="schedule_form">
<%= form_for([current_student, @schedule], url: student_schedule_path) do |form| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="actions">
      <%= form.submit "New schedule." %>
    </div>
  <div class="field">
    <%= form.label :description, "Please describe the topic you want to discuss with teacher." %>
    <%= form.text_area :description %>
  </div>
  <div class="table">
    <% Teacher.all.each do |t| %>
      <% if t.locations.any? %>
        <h4>Teacher <%= t.name %></h4>
        <table>
          <thead>
          <tr>
            <th>Place</th>
            <th>Start Time</th>
            <th>Finish Time</th>
            <th>Weekday</th>
          </tr>
          </thead>
          <tbody>
          <% t.locations.each do |l| %>
            <% unless l.schedules.any? %>
              <tr class="locations">
                <td><%= l.place %></td>
                <td><%= l.start_time.to_formatted_s(format = :hm) %></td>
                <td><%= l.end_time.to_formatted_s(format = :hm) %></td>
                <td><%= l.weekday %></td>
                <td><%= radio_button("schedule", "location", l.id) %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit "New schedule." %>
  </div>
<% end %>
</section>
<!--<section class="scheduled_student">-->
  <%#= render 'schedule_form' %>
<!--</section>-->
