<%= form_for [:students, @scheduled_student] do |form| %>
  <% if @scheduled_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_student.errors.count, "error") %> prohibited this scheduled_student from being saved:</h2>

      <ul>
        <% @scheduled_student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= fields_for 'scheduled_student[times]', times do |times_form| %>
    <%= times_form.time_select :start_time %>
  <% end %>
<!--  <div class="field">-->
    <%#= form.label :time1, "Please select time you want to schedule." %>
<!--    <div class="field">-->
      <%#= form.label :week1, "Week 1." %>
      <%#= form.week_field :week %>
      <%#= form.label :start_time %>
      <%#= form.time_select :start_time1 %>
      <%#= form.label :end_time %>
      <%#= form.time_select :end_time1 %>
<!--    </div>-->
<!--    <div class="field">-->
      <%#= form.label :week2, "Week 2." %>
      <%#= form.week_field :week2 %>
      <%#= form.label :start_time2 %>
      <%#= form.time_select :start_time2 %>
      <%#= form.label :end_time2 %>
      <%#= form.time_select :end_time2 %>
<!--    </div>-->
<!--    <div class="field">-->
      <%#= form.label :week3, "Week 3." %>
      <%#= form.week_field :week3 %>
      <%#= form.label :start_time3 %>
      <%#= form.time_select :start_time3 %>
      <%#= form.label :end_time3 %>
      <%#= form.time_select :end_time3 %>
<!--    </div>-->
<!--  </div>-->
<!--  <div class="field">-->
    <%#= form.label :description, "Please enter the symptom you had." %>
    <%#= form.text_area :description %>
<!--  </div>-->
<% end %>