<style type="text/css">
  .text{width: 50%;}
  .start-time{width: 50%;color: #B00100;font-size: 150%}
  div{display: inline}
</style>
<hr style="width:1000PX;">
<% if current_student.scheduled_student %>
  <% scheduled_student = current_student.scheduled_student %>
  <% if scheduled_student.schedules.active.any? %>
    <% s = scheduled_student.schedules.active[0] %>
    <% l = s.location %>
    <div class="text">Your scheduled campus is</div>
    <div class="start-time"><u><%= "#{l.place}" %></u></div>
    <div class="text">, your teacher is</div>
    <div class="start-time"><u><%= "#{l.teacher.name}" %></u></div>
    <div class="text">, you have do</div>
    <div class="start-time"><u><%= "#{s.scheduled_times}" %></u></div>
    <div class="text"> times</div>
    <br />
<!--    <div class="start-time"><u><%#=#{l.place} %></u></div>-->
<!--    <%#= "Your scheduled campus is #{l.place}, your teacher is #{l.teacher.name}, you have do #{s.scheduled_times} times." %><br />-->
    <% if Time.now < s.next_start_time %>
      <div class="text">Your schedule is will start at</div>
      <div class="start-time"><u><%= "#{l.weekday}" %></u></div>
      <div class="text">,</div>
      <div class="start-time"><u><%= "#{s.next_start_time}" %></u></div>
      <br />
      <%#= "Your schedule is will start at #{l.weekday}, #{s.next_start_time}." %>
    <% else %>
      <div class="text">Your last schedule was started at </div>
      <div class="start-time"><u><%= "#{l.weekday}" %></u></div>
      <div class="text">, </div>
      <div class="start-time"><u><%= "#{s.next_start_time}" %></u></div>
      <br />
      <div class="text"> Do you want to renew schedule?</div>
      <br />
      <%#= "Your last schedule was started at #{l.weekday}, #{s.next_start_time}. Do you want to renew schedule?" %>
      <br />
      <button><%= link_to "Renew schedule!", renew_students_schedule_path %></button>
    <% end %>
  <% elsif scheduled_student.schedules.pending.any? %>
    <% pending_schedules = scheduled_student.schedules.pending %>
    <% pending_schedules.each do |s|%>
      <% l = s.location %>
      <div class="text">There are  </div>
      <div class="start-time"><u><%= "#{check_pending_num(l)}" %></u></div>
      <div class="text"> people in front of your schedule at </div>
      <div class="start-time"><u><%= "#{l.place}" %></u></div>
      <div class="text">, </div>
      <div class="start-time"><u><%= "#{l.weekday}" %></u></div>
      <div class="text">, </div>
      <div class="start-time"><u><%= "#{l.start_time.to_s(:hm)}" %></u></div>
      <div class="text">, teacher</div>
      <div class="start-time"><u><%= "#{s.teacher.name}" %></u></div>
      <br />
<!--      <%#= "There are #{check_pending_num(l)} people in front of your schedule at #{l.place}, #{l.weekday}, #{l.start_time.to_s(:hm)}, teacher #{s.teacher.name}" %><br />-->
    <% end %>

  <% end %>

  <button><%= link_to "Destroy schedule!", delete_scheduled_students_path, method: "delete" %></button>
<% else %>
  <button><%= link_to 'New schedule!', new_scheduled_students_path%></button>
<% end %>