<p id="notice"><%= notice %></p>

<p>
  <strong>Using:</strong>
  <%= @room.using %>
</p>

<p>
  <strong>Student:</strong>
  <%= @room.student_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @room.teacher_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
